{
  "extends": [
    "standard",
    "react-app",
    "plugin:flowtype/recommended",
    "plugin:prettier/recommended"
  ],
  "plugins": ["react-hooks", "flowtype", "prettier"],
  "parserOptions": {
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "node": true,
    "jest": true
  },
  "rules": {
    "semi": [2, "always"],
    "no-extra-semi": 2,
    "strict": ["error", "global"],
    "no-unused-vars": "error",
    "no-console": ["error", { "allow": ["warn", "error"] }],
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "relay/unused-fields": "off",
    "relay/no-future-added-value": "off"
  }
}
