@import url(../../node_modules/tachyons/css/tachyons.min.css);

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f5f4f2;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

#root {
  background-color: #f5f4f2;
}

.launchpad {
  color: #ff9700;
}
.bg-launchpad {
  background-color: #ff9700;
}
.primary {
  color: #3e434f;
}
.bg-primary {
  background-color: #f5f4f2;
}
.bg-dark {
  background-color: #131415;
}
.fit {
  object-fit: cover;
}
